# ML US baby names

## 3. Generate model

In [1]:
from constants import *
print("YEAR_START:", YEAR_START)
print("YEAR_END:", YEAR_END)
print("COMPUTE_YEARS_BACKWARDS:", COMPUTE_YEARS_BACKWARDS)
print("YEARS_NO_TRAINING:", YEARS_NO_TRAINING)
print("CSV_FEATURES_LABEL:", CSV_FEATURES_LABEL)

YEAR_START: 1960
YEAR_END: 2021
COMPUTE_YEARS_BACKWARDS: 5
YEARS_NO_TRAINING: 5
CSV_FEATURES_LABEL: data_features_3_label.csv

In [2]:
import pandas

df = pandas.read_csv(CSV_FEATURES_LABEL)
df

,year,name,AK_0,AL_0,AR_0,AZ_0,CA_0,CO_0,CT_0,DC_0,...,TN_5,TX_5,UT_5,VA_5,VT_5,WA_5,WI_5,WV_5,WY_5,next_max
0,1960,Tommy,0.000000,0.113430,0.144844,0.064607,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,1960,Barry,0.000000,0.100054,0.085747,0.000000,0.000000,0.000000,0.037545,0.041060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,1960,Neil,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,1960,Daryl,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,1960,Eric,0.138158,0.069021,0.053302,0.102528,0.185629,0.158305,0.100361,0.176159,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16450,2021,Kainoa,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
16451,2021,Sawyer,0.000000,0.279412,0.312500,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.075656,0.0,-0.104561,-0.187719,-0.156486,-0.338235,-0.179498,-0.090090,0.233520,NaN
16452,2021,Simon,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.266667,...,0.000000,0.0,0.000000,0.000000,0.225806,0.000000,0.000000,0.000000,0.000000,NaN
16453,2021,Bridger,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,-0.181529,0.000000,0.000000,0.000000,0.000000,0.000000,-0.176718,NaN
16454,2021,Brooks,0.285714,0.217647,0.331250,0.187935,0.000000,0.359517,0.152610,0.000000,...,0.296729,0.0,0.473154,0.169463,0.225806,0.211443,0.348214,0.268519,0.548387,NaN

In [3]:
df_clean = df.copy()
df_clean = df_clean[df_clean["year"] < (YEAR_END - YEARS_NO_TRAINING)]
df_clean.drop(['year', 'name'], axis=1, inplace=True)
df_clean.dropna(inplace=True)
df_clean

,AK_0,AL_0,AR_0,AZ_0,CA_0,CO_0,CT_0,DC_0,DE_0,FL_0,...,TN_5,TX_5,UT_5,VA_5,VT_5,WA_5,WI_5,WV_5,WY_5,next_max
1265,0.000000,0.091571,0.160539,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.026686,-0.016609,0.000000,0.000000,0.000000,0.000000,0.000000,0.008814,0.000000,0.0
1266,0.080000,0.115221,0.077206,0.000000,0.000000,0.000000,0.026387,0.000000,0.057143,0.051708,...,-0.004382,0.000000,0.000000,-0.024183,-0.011074,0.000000,0.001070,-0.030026,-0.003250,0.0
1267,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023681,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.034314,0.000000,0.000000,0.000000,0.000000,0.0
1268,0.260000,0.107944,0.100490,0.203673,0.286498,0.229648,0.186062,0.319876,0.232653,0.185484,...,0.045814,0.099965,0.061901,0.089639,0.125129,0.112854,0.077858,0.068759,0.085241,0.0
1269,0.080000,0.056398,0.000000,0.100167,0.059214,0.000000,0.048714,0.046584,0.057143,0.050759,...,-0.039039,-0.005090,0.000000,-0.056674,0.022386,0.000000,0.000000,0.000000,-0.095890,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14820,0.277778,0.309179,0.378788,0.000000,0.000000,0.307190,0.000000,0.000000,0.000000,0.000000,...,0.277883,0.000000,0.055467,0.000000,0.145930,0.338346,0.254858,0.408759,0.447368,0.0
14821,0.240741,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.192308,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
14822,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.299242,0.000000,0.000000,0.000000,0.000000,0.000000,-0.122807,0.0
14823,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
14824,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.179487,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [4]:
ML_ALG_RANDOM_FOREST = 'random_forest'
ML_ALG_LOG_REGRESSION = 'log_regression'
ML_ALG_SUPPORT_VECTOR_MACHINES = 'svc'
ML_ALG_NEURAL_NETWORK = 'neural_network'

ML_ALG = ML_ALG_RANDOM_FOREST

In [5]:
print("Generating model...")
print("ML algorithm:", ML_ALG)
print()

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

columns_features = list(df_clean.columns[0:-1])
column_label = df_clean.columns[-1]

X = df_clean[columns_features]
y = df_clean[column_label]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

if ML_ALG == ML_ALG_RANDOM_FOREST:
    from sklearn.ensemble import RandomForestClassifier
    model = RandomForestClassifier()
elif ML_ALG == ML_ALG_LOG_REGRESSION:
    from sklearn.linear_model import LogisticRegression
    model = LogisticRegression()
elif ML_ALG == ML_ALG_SUPPORT_VECTOR_MACHINES:
    from sklearn.svm import SVC
    model = SVC(kernel="linear")
elif ML_ALG == ML_ALG_NEURAL_NETWORK:
    from sklearn.neural_network import MLPClassifier
    from sklearn.model_selection import GridSearchCV
    clf = MLPClassifier(max_iter=100)
    parameter_space = {
        'hidden_layer_sizes': [(150,100,50), (10,30,10), (20,)],
        'activation': ['logistic', 'tanh', 'relu'],
        'solver': ['adam', 'lbfgs', 'sgd'],
        'alpha': [1e-5, 0.0001, 0.05],
        'learning_rate': ['constant', 'invscalin', 'adaptive'],
    }
    model = GridSearchCV(clf, parameter_space, n_jobs=-1, cv=5, verbose=2)
else:
    raise Exception("Unexpectred value of ML_ALG: %s." % ML_ALG)

model.fit(X_train, y_train)

if ML_ALG == ML_ALG_NEURAL_NETWORK:
    print('Best parameters found:', model.best_params_)

y_pred = model.predict(X_test)

print("Done.")

print()
print("Classification report:")
print(classification_report(y_test, y_pred))

Generating model...
ML algorithm: random_forest

Done.

Classification report:
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00      1351
         1.0       1.00      0.60      0.75         5

    accuracy                           1.00      1356
   macro avg       1.00      0.80      0.87      1356
weighted avg       1.00      1.00      1.00      1356

In [6]:
def predict_next(df, classifier):
    if len(set(df["year"])) > 1:
        raise Exception("Data from more than one year included in the dataset.")
    
    # remove year and name from beginning, and next_max from end
    X = df.copy()
    X = X.iloc[:, 2:-1]
    
    # predict
    pred = classifier.predict(X)
    
    # take only year and name
    df_pred = df.copy()
    df_pred = df_pred.iloc[:, 0:2]
    #add prediction
    df_pred["pred"] = pred
    
    # return names of possitives
    return list(df_pred[df_pred["pred"] > 0]["name"])

In [7]:
print("Predictions of the years used for training and testing:")
print()

df_clean = df.dropna()

total_preds = 0
guessed_preds = 0

for year in range(YEAR_START, YEAR_END - YEARS_NO_TRAINING):
    print("%d " % (year + 1), end="")
    
    df_year = df_clean[df_clean["year"] == year]
    if len(df_year) == 0:
        print("Not enough data (minimum of %s years backwards needed)." % COMPUTE_YEARS_BACKWARDS)
        continue
    
    total_preds += 1
    
    next_max = df_year[df_year["next_max"] == 1].iloc[0]["name"]
    prediction = predict_next(df_year, model)
    
    if len(prediction) == 0:
        print("❌ ", end="")
        print("Predicted: %s. " % "none", end="")
    elif len(prediction) > 1:
        print("❌ ", end="")
        print("Predicted: %d (%s). " % (len(prediction), ", ".join(prediction)), end="")
    elif prediction[0] != next_max:
        print("❌ ", end="")
        print("Predicted: %s. " % prediction[0], end="")
    else:
        print("✅ ", end="")
        print("Predicted: %s. " % prediction[0], end="")
        guessed_preds += 1
    
    print("Most common name was: %s. " % next_max, end="")
    print()

print()
print("%d out of %d correct predictions (%.0f%%)." % \
    (guessed_preds, total_preds, guessed_preds * 100 / total_preds))

Predictions of the years used for training and testing:

1961 Not enough data (minimum of 5 years backwards needed).
1962 Not enough data (minimum of 5 years backwards needed).
1963 Not enough data (minimum of 5 years backwards needed).
1964 Not enough data (minimum of 5 years backwards needed).
1965 Not enough data (minimum of 5 years backwards needed).
1966 ✅ Predicted: Michael. Most common name was: Michael.
1967 ✅ Predicted: Michael. Most common name was: Michael.
1968 ✅ Predicted: Michael. Most common name was: Michael.
1969 ✅ Predicted: Michael. Most common name was: Michael.
1970 ✅ Predicted: Michael. Most common name was: Michael.
1971 ✅ Predicted: Michael. Most common name was: Michael.
1972 ✅ Predicted: Michael. Most common name was: Michael.
1973 ✅ Predicted: Michael. Most common name was: Michael.
1974 ✅ Predicted: Michael. Most common name was: Michael.
1975 ✅ Predicted: Michael. Most common name was: Michael.
1976 ✅ Predicted: Michael. Most common name was: Michael.
1977 ✅ Predicted: Michael. Most common name was: Michael.
1978 ✅ Predicted: Michael. Most common name was: Michael.
1979 ✅ Predicted: Michael. Most common name was: Michael.
1980 ✅ Predicted: Michael. Most common name was: Michael.
1981 ✅ Predicted: Michael. Most common name was: Michael.
1982 ✅ Predicted: Michael. Most common name was: Michael.
1983 ✅ Predicted: Michael. Most common name was: Michael.
1984 ✅ Predicted: Michael. Most common name was: Michael.
1985 ✅ Predicted: Michael. Most common name was: Michael.
1986 ✅ Predicted: Michael. Most common name was: Michael.
1987 ✅ Predicted: Michael. Most common name was: Michael.
1988 ✅ Predicted: Michael. Most common name was: Michael.
1989 ✅ Predicted: Michael. Most common name was: Michael.
1990 ✅ Predicted: Michael. Most common name was: Michael.
1991 ✅ Predicted: Michael. Most common name was: Michael.
1992 ✅ Predicted: Michael. Most common name was: Michael.
1993 ✅ Predicted: Michael. Most common name was: Michael.
1994 ✅ Predicted: Michael. Most common name was: Michael.
1995 ✅ Predicted: Michael. Most common name was: Michael.
1996 ✅ Predicted: Michael. Most common name was: Michael.
1997 ✅ Predicted: Michael. Most common name was: Michael.
1998 ❌ Predicted: none. Most common name was: Michael.
1999 ✅ Predicted: Jacob. Most common name was: Jacob.
2000 ✅ Predicted: Jacob. Most common name was: Jacob.
2001 ✅ Predicted: Jacob. Most common name was: Jacob.
2002 ✅ Predicted: Jacob. Most common name was: Jacob.
2003 ✅ Predicted: Jacob. Most common name was: Jacob.
2004 ✅ Predicted: Jacob. Most common name was: Jacob.
2005 ✅ Predicted: Jacob. Most common name was: Jacob.
2006 ✅ Predicted: Jacob. Most common name was: Jacob.
2007 ✅ Predicted: Jacob. Most common name was: Jacob.
2008 ✅ Predicted: Jacob. Most common name was: Jacob.
2009 ✅ Predicted: Jacob. Most common name was: Jacob.
2010 ✅ Predicted: Jacob. Most common name was: Jacob.
2011 ✅ Predicted: Jacob. Most common name was: Jacob.
2012 ✅ Predicted: Jacob. Most common name was: Jacob.
2013 ✅ Predicted: Noah. Most common name was: Noah.
2014 ✅ Predicted: Noah. Most common name was: Noah.
2015 ✅ Predicted: Noah. Most common name was: Noah.
2016 ❌ Predicted: none. Most common name was: Noah.

49 out of 51 correct predictions (96%).

In [8]:
print("Predictions of %d years not used for training nor testing:" % YEARS_NO_TRAINING)
print()

df_clean = df.dropna()

total_preds = 0
guessed_preds = 0

for year in range(YEAR_END - YEARS_NO_TRAINING, YEAR_END):
    print("%d " % (year + 1), end="")
    
    df_year = df_clean[df_clean["year"] == year]
    if len(df_year) == 0:
        print("Not enough data (minimum of %s years backwards needed)." % COMPUTE_YEARS_BACKWARDS)
        continue
    
    total_preds += 1
    
    next_max = df_year[df_year["next_max"] == 1].iloc[0]["name"]
    prediction = predict_next(df_year, model)
    
    if len(prediction) == 0:
        print("❌ ", end="")
        print("Predicted: %s. " % "none", end="")
    elif len(prediction) > 1:
        print("❌ ", end="")
        print("Predicted: %d (%s). " % (len(prediction), ", ".join(prediction)), end="")
    elif prediction[0] != next_max:
        print("❌ ", end="")
        print("Predicted: %s. " % prediction[0], end="")
    else:
        print("✅ ", end="")
        print("Predicted: %s. " % prediction[0], end="")
        guessed_preds += 1
    
    print("Most common name was: %s. " % next_max, end="")
    print()

print()
print("%d out of %d correct predictions (%.0f%%)." % \
    (guessed_preds, total_preds, guessed_preds * 100 / total_preds))

Predictions of 5 years not used for training nor testing:

2017 ❌ Predicted: none. Most common name was: Liam.
2018 ✅ Predicted: Liam. Most common name was: Liam.
2019 ✅ Predicted: Liam. Most common name was: Liam.
2020 ✅ Predicted: Liam. Most common name was: Liam.
2021 ✅ Predicted: Liam. Most common name was: Liam.

4 out of 5 correct predictions (80%).

In [9]:
print("Prediction for this year:")
print()

year = YEAR_END
print("%d " % (year + 1), end="")

df_year = df[df["year"] == year]
if len(df_year) == 0:
    print("Error! No data found.")
else:
    prediction = predict_next(df_year, model)
    
    if len(prediction) == 0:
        print("❌ ", end="")
        print("Predicted: %s. " % "none", end="")
    elif len(prediction) > 1:
        print("❌ ", end="")
        print("Predicted: %d (%s). " % (len(prediction), ", ".join(prediction)), end="")
    else:
        print("❓ ", end="")
        print("Predicted: %s. " % prediction[0], end="")
        print()

Prediction for this year:

2022 ❓ Predicted: Liam.